@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Mali:ital,wght@1,400;1,500&family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}
/* header */
.header {
    background-color: #fad2e1;
    width: 100%;
}
.h1__header {
    padding-top: 25px;
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Mali', cursive;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    text-shadow: 4px -3px 7px rgba(0,0,0,0.78);
    cursor: pointer;
}
.a__header {
    font-size: 3.0rem;
    padding: 10px;
}
.a__header:hover {
    font-size: 3.5rem;
}
.p__header {
    text-align: center;
    font-family: 'Mali', cursive;
    font-family: 'Poppins', sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
    line-height: 30px;
    font-size: 13px;
}
.hr__header {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 3px;
    background-color: black;
}
/* h3 1 divisor */ 
.hr__division--1 {
    height: 2px;
    background-color: black;
    width: 20%;
    margin: 0 auto 20px auto;
}

/* cronicas */ 
.cronicas {
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    width: 50%;
    margin: 0 auto 20px auto;
    background-color: #fad2e1;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Mali', cursive;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}
a:hover {
    font-size: 1.5rem;
}

.sobre__nosotras {
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    width: 50%;
    margin: 0 auto 20px auto;
    background-color: #fad2e1;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Mali', cursive;
    font-family: 'Poppins', sans-serif;
}

/* pagina cronicas */ 
.h1__cronicas {
    text-align: center;
    margin: 20px 20px 20px 20px;
}
.p__cronicas {
    margin: 10px 30px 10px 30px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    justify-content: center;
}
.img__cronicas--div {
    text-align: center;
}
.img__cronicas {
    width: 60%;
    margin-top: 20px;
    border-radius: 20px;
    margin-bottom: 25px;
}

/* sobre nosotras */ 
.angie {
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    width: 50%;
    margin: 20px auto 20px auto;
    background-color: #fad2e1;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Mali', cursive;
    font-family: 'Poppins', sans-serif;
}
.jecenia {
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    width: 50%;
    margin: 0 auto 20px auto;
    background-color: #fad2e1;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Mali', cursive;
    font-family: 'Poppins', sans-serif;
}
.h1__sobre--nosotras {
    text-align: center;
    margin-top: 20px;
    font-family: 'Mali', cursive;
    font-family: 'Poppins', sans-serif;
}

/* pagina Angie */ 
.h1__angie {
    margin-top: 30px;
    text-align: center;
    font-family: 'Mali', cursive;
    font-family: 'Poppins', sans-serif;
}
.p__angie {
    margin: 10px 20px 10px 20px;
    text-align: justify;
}
.div__angie {
    width: 100%;
    text-align: center;
}
.img__angie {
    width: 60%;
    border-radius: 20px;
    margin-top: 10px;
}
.h3__angie {
    margin-top: 30px;
    text-align: center;
    font-family: 'Mali', cursive;
    font-family: 'Poppins', sans-serif;
}

#div-caracteristicas {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    /**border: 1px solid gray; **/ 
    padding: 5px;
}
#h2-section {
    text-align: left;
}
#section2_content {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
#img_2section {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}
#p_2section {
    font-family: 'Mali', cursive;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

/* recursos narrativos */
.div_recursos_narrativos {
    width: 100%;
    text-align: center;
}
.div_recursos_narrativos img {
    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* reconstruccion relato*/ 
.reconstruccion {
    width: 100%;
    text-align: justify;
    margin-top: 20px;
}
.reconstruccion p {
    margin: 10px 20px 10px 20px;
    font-family: 'Mali', cursive;
}
.reconstruccion h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.reconstruccion h6 {
    margin: 10px 20px 10px 20px;
    font-size: 14px;
}
/* mapa conceptual */
.div_mapa {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.div_mapa img {
    width: 80%;
}




@media (min-width: 1000px) {
    .img__cronicas {
        width: 40%;
    }
}